@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
}
.car-card{
  border: 0;
  margin: 2%;
  max-height: 500px;
}
.car-card:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
