#banner-section {
    overflow-x: hidden;
}
.banner-image {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
    clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
}
#banner-section .banner-content {
    padding: 10%;
}